<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Candy Shop</title>
</head>
<body>
    <nav>
        
        <div class="feature">
            <h2>Featured Products</h2>
            <div class="featureDisplay"></div>
            <!-- <button>Add To Cart</button> -->
            <div class="featureDisplay"></div>
            <!-- <button>Add To Cart</button> -->
            <div class="featureDisplay"></div>
            <!-- <button>Add To Cart</button> -->
        </div>
    </main>
    <footer></footer>
   <script type="text/javascript" src="js/main.js"></script> 
</body>
</html>